<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock%}</title>
    <!-- 包含头部信息用于适应不同设备 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 包含 bootstrap 样式表 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">
    <!--css block, 供子模板重载添加额外的css样式  -->
    {%block css%}{% endblock%}
  </head>
  <body>
      <!--添加导航-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">首页</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/transaction">交易数据</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/balance">账户信息</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/visualization">区块数据分析</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <!--content block, 供子模板重载添加页面内容-->
        {% block content %}{% endblock %}
    </div>

    <!-- JavaScript 放置在文档最后面可以使页面加载速度更快 -->
    <!--包含相关的js库-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!--script block, 供子模板添加额外的js库和函数-->
    {% block script %}{% endblock %}
  </body>
</html>